{
	"env": {
		"browser": false,
		"commonjs": true,
		"es6": true
	},
	"settings": {
		"react": {
			"version": "999.999.999"
		}
	},
	"extends": [
		"plugin:react/recommended"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"react"
	],
	"rules": {
		"react/jsx-indent": [
			"error",
			2
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"double"
		],
		"semi": [
			"warn",
			"always"
		]
	},
	"parser": "babel-eslint"
}
